*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-size: 480px;
    --rows: 6;
    --text: #fff;
    --background: #ef8354;
    --second-background: #4f5d75;
    --dark: #2d3142;
    --dark-light: #2228;
}

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    background-color: var(--background);
}

.game-score {
    margin-top: 2.25rem;
    text-shadow: 0 0 6px var(--dark);
    font-size: 2.5rem;
    font-weight: bold;
}

.game-score #game-score-value {
    color: var(--dark);
    text-shadow: 0 0 6px var(--text);
}

.game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: var(--box-size);
    height: var(--box-size);
    margin-top: 2.25rem;
}

.game-box-item {
    width: calc(var(--box-size) / var(--rows));
    height: calc(var(--box-size) / var(--rows));
    margin: 5px;
    perspective: 350px;
}

.game-box-item-inner {
    height: 100%;
    border: 0.25rem solid var(--second-background);
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.game-box-item-front,
.game-box-item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.game-box-item-back {
    transform: rotateY(180deg);
}

.game-box-item-front {
    background-color: var(--dark-light);
}

.game-box-you-won {
    color: var(--dark);
    text-shadow: 2px 2px 2px var(--text);
    font-size: 4rem;
    font-weight: bolder;
}

.game-restart {
    position: absolute;
    bottom: 0;
    width: var(--box-size);
}

.game-restart #game-restart-button {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--text);
    font-size: 2rem;
    background-color: var(--second-background);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: calc(var(--box-size) - 100px);
    height: calc(var(--box-size) - 100px);
    background-color: var(--text);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: zoom .3s
}

@keyframes zoom {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@media (max-width: 485px) {
    :root {
        --box-size: 300px;
    }

    .game-score {
        font-size: 2rem;
    }

    .game-box-you-won {
        font-size: 2.5rem;
    }
}